<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824900840335-5nep2f164n64nvavh29kjlebka0adh55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824900840335-5nep2f164n64nvavh29kjlebka0adh55</string>
	<key>API_KEY</key>
	<string>AIzaSyAhzkm_psvlZ1D0qFQm8_7_cW8UadhXyBg</string>
	<key>GCM_SENDER_ID</key>
	<string>824900840335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maarifkids</string>
	<key>PROJECT_ID</key>
	<string>maarif-567b8</string>
	<key>STORAGE_BUCKET</key>
	<string>maarif-567b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824900840335:ios:43ce7e6a0a4f4cd91379fa</string>
</dict>
</plist>